<header class="row">
  <h1>Sentences</h1>
</header>

<article class="row">
  <ol class="list-group">
    <% @sentences.each do |sentence| %>
      <li id="sentence-<%= sentence.id %>" class="list-group-item">
        <%= sentence.formatted_text.html_safe %>
        <br>
        <%= link_to "View", "/sentences/#{sentence.id}" %>
      </li>
    <% end %>
  </ol>
</article>