<h1>Sentences</h1>

<ol>
  <% @sentences.each do |sentence| %>
    <li id="sentence-<%= sentence.id %>">
      <%= sentence.formatted_text.html_safe %>
      <%= link_to "View", "/sentences/#{sentence.id}" %>
    </li>
  <% end %>
</ol>